:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


}

body {
  margin: 0;

  min-height: 100vh;

}

/* regole header */

nav {
  text-align: center;
}

.header-homeLink {
  font-size: 60px;
  text-decoration: inherit;
  margin-bottom: 30px;
}

/* regole container dei movies */

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
  gap: 30px;
}

/* regole moviecard */
.movie-card {
  width: 19%;
  padding: 4px;

  /* debug */
  background-color: aqua;
  border: black 1px solid;
}

a {

  color: #646cff;
  text-decoration: inherit;

}

a:hover {
  color: #535bf2;
}

/* regole titolo in home */
.movietitle {
  color: red;
}

/* regole bottone per accedere a pagina dettagli */
.seemore-button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 4px;
  font-family: inherit;
  background-color: #69be0e;
  cursor: pointer;
  transition: border-color 0.25s;
}

.seemore-button:hover {
  border-color: #c9e20a;
  background-color: #c9e20a;
}

.seemore-button:focus,
.seemore-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* regole pagina dettagli  */

.moviecard-detail-container {
  width: 70%;
  margin-left: 15%;
  /* debug */
  background-color: aqua;
  border: black 1px solid;

}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */