:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


}

body {
  margin: 0;
  background-image: url("https://img.freepik.com/foto-premium/la-consistenza-dello-sfondo-giallo-e-arancione_1283541-736.jpg?w=900");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

}

/* regole header */

nav {
  text-align: center;
  background-image: url("https://img.freepik.com/foto-premium/vista-ad-alta-angolazione-del-ragno-e-delle-luci-gialle_1048944-239378.jpg?w=1380");
  height: 100px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.header-homeLink {
  font-size: 60px;
  text-decoration: inherit;
  margin-bottom: 30px;
}

/* regole titolo home */
.homelist-title {
  padding: 8px;
  color: #c1110e;
}

/* regole container dei movies */

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
  gap: 30px;
}

/* regole moviecard */
.movie-card {
  width: 19%;
  padding: 4px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  /* debug */
  background-color: rgb(23, 193, 88);
  border: black 1px solid;
}

/* regole immagine film */
.movieimage {
  max-width: 70%;
  margin-left: 15%;
}


a {

  color: #646cff;
  text-decoration: inherit;

}

a:hover {
  color: #535bf2;
}

/* regole titolo in home */
.movietitle {
  color: rgb(121, 14, 14);
}

/* regole bottone per accedere a pagina dettagli */
.seemore-button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 4px;
  font-family: inherit;
  background-color: #69be0e;
  cursor: pointer;
  transition: border-color 0.25s;
}

.seemore-button:hover {
  border-color: #c9e20a;
  background-color: #c9e20a;
}

.seemore-button:focus,
.seemore-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* regole pagina dettagli  */

.moviecard-detail-container {
  width: 70%;
  margin-top: 30px;
  margin-left: 15%;
  background-color: rgb(23, 193, 88);
  border: black 1px solid;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  padding: 8px;

}

.moviecard-detail-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: bold;
}

.movieimage-detail {
  max-width: 50%;
  margin-left: 25%;
}


/* @media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */