:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;


}

body {
  margin: 0;
  background-image: url("https://img.freepik.com/foto-premium/la-consistenza-dello-sfondo-giallo-e-arancione_1283541-736.jpg?w=900");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;

}

/* regole header */

nav {
  text-align: center;
  background-image: url("https://img.freepik.com/foto-premium/vista-ad-alta-angolazione-del-ragno-e-delle-luci-gialle_1048944-239378.jpg?w=1380");
  background-repeat: no-repeat;
  background-size: cover;
  height: 110px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: sticky;
  z-index: 400;
  top: 0;
  right: 0;
  right: calc(100vw - 110px);
}

/* regole logo header */
.header-homeLink {
  font-size: 60px;
  text-decoration: inherit;
  margin-bottom: 30px;
  color: #f54024;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

/* regole titolo home */
.homelist-title {
  padding: 8px;
  color: #c1110e;

}

/* regole container dei movies */

.movies-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 30px;
  gap: 30px;
}

/* regole moviecard */
.movie-card {
  width: 19%;
  padding: 4px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  /* debug */
  background-color: rgb(23, 193, 88);
  /* border: black 1px solid; */
}

/* regole immagine film */
.movieimage {
  max-width: 70%;
  margin-left: 15%;
}


a {

  text-decoration: inherit;

}

a:hover {
  color: #f3ff07;
}

/* regole titolo in home */
.movietitle {
  color: rgb(121, 14, 14);
}

/* regole bottone per accedere a pagina dettagli */
.seemore-button {
  border-radius: 12px;
  border: 1px solid transparent;
  padding: 4px;
  font-family: inherit;
  background-color: #69be0e;
  cursor: pointer;
  transition: border-color 0.25s;
}

.seemore-button:hover {
  border-color: #c9e20a;
  background-color: #c9e20a;
}

.seemore-button:focus,
.seemore-button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* regole pagina dettagli  */
.prevnext {
  text-align: end;
  margin-right: 30px;
  font-size: 20px;
  text-decoration: inherit;
  font-weight: bold;
  color: #c1110e;
}

.prevnext :hover {
  color: blueviolet;
}

.moviecard-detail-container {
  width: 70%;
  margin-top: 30px;
  margin-left: 10%;
  padding: 8px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1.1em;
  display: flex;

}

.moviecard-detail-title {
  text-align: center;
  margin-bottom: 15px;
  font-size: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.movieimage-detail {
  max-width: 40%;
  margin-left: 25%;
  margin-bottom: 21px;
}

.card-detailcontainer {
  background-color: rgb(24, 234, 104);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.reviewcontainer {
  background-color: rgb(3, 218, 85);
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  max-height: fit-content;
  margin-top: 5%;
  margin-left: 50px;
}

/* 404 page */
.notfoundpage {
  text-align: center;
  margin-top: 100px;
  width: 70%;
  margin-left: 15%;
  padding: 20px;
  background-color: #716666;
}